{% extends "base.html" %}

{% block title %} Flask Powered Website {% endblock %}

{% block content %}
<h1>Create Post</h1>

<br>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="text" class="form-control" id="textInput" placeholder="Enter text here" name='text'/>
        <br>
        <label class="form-label" for="customFile">Select Image</label>
        <input oninput="filesize(this);" type="file" class="form-control" name="image" id="customFile">
    </div>
    <br>
    <a href="{{ url_for('pages.create_post') }}">
        <button type="submit" class="btn btn-primary" name='post'>Submit</button>
    </a>
</form>

{% endblock %}

{% block script %}

<!--Store size of uploaded image in cookie-->
<script>
        function filesize(elem) {
            document.cookie = `filesize=${elem.files[0].size}`;
        }
</script>


{% endblock %}