{% extends "base.html" %}

{% block title %} Flask Powered Website {% endblock %}

{% block content %}
<p>
    Vel sit delectus pariatur quia optio est. Officia sequi laudantium sed provident culpa expedita laudantium. Aliquam optio culpa incidunt sit 
    voluptatem necessitatibus sint. Quidem suscipit id earum natus.
</p>

<p>
    Sint voluptatum eum saepe delectus facere sit. Incidunt velit deleniti eos quae tenetur autem in id. Ratione quasi quod praesentium ipsa 
    ipsam autem. Perspiciatis non reprehenderit fugiat tempora vitae. Veritatis error natus est.
</p>

<image src="{{ url_for('static', filename='images/san_juan.jpg') }}" />
{% endblock %}