{% extends "base.html" %}

{% block title %} Flask Powered Website {% endblock %}

{% block content %}
<pre>
    General Work:
        <del>1. Display User's Posts on their profile</del>
        2. Seperate form validation into helper functions
        3. Seperate html files into specific template folders
    Adding Followers:
        <del>1. Add "Followers" attribute to db.Model</del>
        <del>2. Add follow button to each user profile, must update depending on whether the user follows them or the user is viewing their account</del>
        <del>4. View followers and following as well as counts</del>
        3. Display only posts from the user's follower on index!!!
</pre>

<hr>

<image src="{{ url_for('static', filename='images/san_juan.jpg') }}" />
{% endblock %}