{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col align-self-center">

            <h1>{{user}}'s Profile</h1>
            <br>
            
            <h3>Change Email</h3>
            <hr>
            
            <p>Current Email: {{email if email}}</p>
            
            <form method='POST'>
                <div class="mb-2">
                    <input type='email' name='email' placeholder='Enter Email'/>
                </div>
                <button type="submit" class="btn btn-primary" name='email'>Submit</button>
            </form>

            <br>

            <h3>Change Bio</h3>
            <hr>
            <form method="POST">
                <div class="mb-2">
                    <textarea class="form-control" rows="5" name="bio"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" name='bio'>Submit</button>
            </form>

            <br>
            <br>

            <h3>Upload Profile Picture</h3>
            <hr>

            <form method='POST' enctype="multipart/form-data">
                <div class="mb-2">
                    <input oninput="filesize(this);" type="file" class="form-control" name="image" id="customFile">
                </div>
                <button type="submit" class="btn btn-primary" name='image'>Submit</button>
            </form>
            <br>
            <br>
            <br>
            
            <a href="{{ url_for('pages.logout') }}">
                <button class="btn btn-secondary" name="logout">Logout</button>
            </a>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<!--Store size of uploaded image in cookie-->
<script>
        function filesize(elem) {
            document.cookie = `filesize=${elem.files[0].size}`;
        }
</script>


{% endblock %}